@model Практика_задание2.News_draft
@{
    ViewBag.Title = "Новая статья";
}

<h2>Добавить новую статью:</h2>

<div>
    @Html.ActionLink("Назад", "Index")
</div>

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.date, "Дата написания статьи")
    <br />
    @Html.EditorFor(m => m.date)
    <br />
    <br />
    @Html.LabelFor(m => m.header, "Заголовок")
    <br />
    @Html.TextAreaFor(m => m.header)
    <br />
    <br />
    @Html.LabelFor(m => m.article, "Текст статьи")
    <br />
    @Html.TextAreaFor(m => m.article)
    <br />
    <br />
    @Html.LabelFor(m => m.author, "Автор")
    <br />
    @Html.EditorFor(m => m.author)
    <br /><br />

    <input type="submit" value="Добавить" />
}

